/* Universal*/
.{
	text-transform: uppercase;
}

#main{
	width: 100%
	justify-content: space-around;
}
.card{
	width: 35%;
	background-color: grey;
	text-align: center;
	margin: 0 auto;
	border: 1px  solid red;
	border-radius: 20% 0;
	box-shadow: 6px 6px 6px -6px;
}
.card>img{
	width: 50%;
	height: 50%;
}
media query